<div class="grid grid-cols-2 gap-4">
  <ul class="col-span-1 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <li>
      <%= content %>
    </li>
  </ul>
</div>
